# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnpm-store
/node_modules
/.pnp
.pnp.*
.yarn/*

# testing
/coverage

# next.js
frontend/.next/
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
frontend/.env*
!frontend/.env.example
backend/.env*
!backend/.env.example

# vercel
frontend/.vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

frontend/ui/

# python backend
backend/.venv/
**/__pycache__/
*.pyc
backend/.pytest_cache/